/* Reset default styles */
body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #0fdad7;
    text-align: center;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    color: #ff44e5;
}

/* Heading style */
h1 {
    text-align: center;
    color: #1d0147;
    margin: 0;
}

header {
    background: #ff44e5;
    padding: inherit;
    border-radius: 30px;
    margin: auto auto 3em auto;
    width: fit-content;
}

/* Main container styles */
.container {
    flex: 1;
    width: 60%;
    margin: 50px auto;
    background-color: #040241;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
}

/* Label styles */
label {
    display: block;
    margin-bottom: 10px;
}

/* Input and button styles */
input,
select,
button {
    padding: 10px;
    margin-bottom: 20px;
    box-sizing: border-box;
    border: solid 1px black;
    border-radius: 30px;
}

div#finalists {
    text-align: center;
}

/* Button styles */
button,
.button {
    cursor: pointer;
    background-color: #ff44e5;
    color: #000;
    border: none;
    border-radius: 4px;
    font-size: 16px;
}

/* Button hover styles */
button:hover,
.button:hover {
    background-color: #21c0dc;
}

/* Button click style */
button:active,
.button:active {
    background-color: #17889c;
}

/* Button class */
.button {
    display: inline-block;
    padding: 10px 20px;
    text-decoration: none;
    border: none;
    border-radius: 4px;
    margin-bottom: 10px;
}

#allocateButton {
    margin-top: 2em;
}

#reset {
    margin: 2rem;
}

/* The allocate div */
#allocate {
    display: none;
    /* Hide the div initially */
}

input[type="text"],
input[type="number"] {
    width: 15%;
    text-align: center;

}

/* The playerNames div */
#playerNames {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}

#playerNames input {
    width: calc(25% - 10px);
    margin: 10px;
    text-align: center;
    box-sizing: border-box;
}

#result {
    color: #ff44e5;
}

.country-box {
    border: 2px solid white;
    padding: 10px;
    margin: 10px auto;
    border-radius: 8px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
    max-width: 300px;
}

.flag-icon {
    height: 20px;
    width: auto;
    margin: 0;
}

img {
    height: 30px;
    width: auto;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 5px;
}

#disclaimer {
    margin-top: 70px;
}

#disclaimer a {
    color: #FFFFE0;
}

/* Footer styles */
footer {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
    box-sizing: border-box;
}

/* The code dependant on screen size */
@media (max-width: 820px) {
    #playerNames input {
        width: 40%;
    }

    .container {
        width: 90%;
    }
}

@media (max-width: 480px) {
    #playerNames input {
        width: 80%;
    }

    .container {
        max-width: 100%;
        width: 100%;
    }

    h1 {
        font-size: 1.5em;
    }
}