/* Reset default styles */
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #3f1c71;
    text-align: center;
}

/* Heading style */
h1 {
    text-align: center;
    color: #1d0147;
}

/* Main container styles */
.container {
    max-width: 800px;
    margin: 50px auto;
    background-color: #da40d6;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Label styles */
label {
    display: block;
    margin-bottom: 10px;
}

/* Input and button styles */
input,select,
button {
    padding: 10px;
    margin-bottom: 20px;
}

/* Button styles */
button {
    cursor: pointer;
    background-color: #f8fb00;
    color: #000;
    border: none;
    border-radius: 4px;
}

/* Button hover styles */
button:hover {
    background-color: #21c0dc;
}

/* Button click style */
button:active {
    background-color: #17889c;
}

/* The allocate div */
#allocate {
    display: none; /* Hide the div initially */
}

/* The playerNames div */
#playerNames {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}

#playerNames input {
    width: calc(25% - 10px);
    margin: 10px;
    text-align: center;
}

#result {
    color:#fff;
}

/* Footer styles */
footer {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
    position: fixed;
    width: 100%;
    bottom: 0;
}

/* The code dependant on screen size */
@media (max-width: 820px) {
    #playerNames input {
        width: 40%;
    }
}

@media (max-width: 480px) {
    #playerNames input {
        width: 80%;
    }

    footer {
        background-color: #333;
        color: #fff;
        padding: 10px;
        text-align: center;
        position: relative;
        width: 100%;
        bottom: 0;
    }
}